:root {
  --color-black: #000;
  --color-white: #fff;
  --color-base-100: #fffffe;
  --color-base-200: #eff0f3;
  --color-base-300: #94a1b2;
  --color-base-400: #72757e;
  --color-base-500: #2a2a2a;
  --color-base-600: #242629;
  --color-base-700: #16161a;
  --color-base-800: #0d0d0d;
  --color-base-900: #010101;
  --color-info: 207 90% 54%;
  --color-success: 174 100% 29%;
  --color-warning: 36 100% 50%;
  --color-error: 14 100% 57%;
  --color-highlight-dark: #7f5af0;
  --color-highlight-dark-sec: #2cb67d;
  --color-highlight-light: #ff8e3c;
  --color-highlight-light-sec: #d9376e;

  /* .light */
  --bg-primary: var(--color-base-200);
  --bg-secondary: var(--color-base-100);
  --text-primary: var(--color-base-800);
  --text-secondary: var(--color-base-500);
  --highlight-primary: var(--color-highlight-light);
  --highlight-secondary: var(--color-highlight-light-sec);

  --image-filter: grayscale(15%);

  --font-JP: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo";
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, var(--font-JP), sans-serif, system-ui, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-display: "Inter", var(--font-body);
}

.dark {
  /* .dark */
  --bg-primary: var(--color-base-700);
  --bg-secondary: var(--color-base-600);
  --text-primary: var(--color-base-100);
  --text-secondary: var(--color-base-300);
  --highlight-primary: var(--color-highlight-dark);
  --highlight-secondary: var(--color-highlight-dark-sec);
}

html {
  scrollbar-color: #5f6368 #3c4043;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3c4043;
}

::-webkit-scrollbar-thumb {
  background: #5f6368;
  border: 1px solid #3c4043;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

img {
  /* for alt text */
  text-indent: -9999px;
}

.dark img:not([src*=".svg"]) {
  filter: var(--image-filter);
}
