# Token to POST to /update and accept update trigger
UPDATE_TOKEN=test

# Session secret key
SESSION_SECRET=secret

# Used to upload files to R2. Not needed for development.
UPLOAD_KEY=test

# Needed to send mail by mailersend
MAILERSEND_API_KEY=
