/* Inter 100 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-100-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-100-normal.woff") format("woff");
}
/* Inter 200 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-200-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-200-normal.woff") format("woff");
}
/* Inter 300 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-300-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-300-normal.woff") format("woff");
}
/* Inter 400 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-400-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-400-normal.woff") format("woff");
}
/* Inter 500 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-500-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-500-normal.woff") format("woff");
}
/* Inter 600 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-600-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-600-normal.woff") format("woff");
}
/* Inter 700 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-700-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-700-normal.woff") format("woff");
}
/* Inter 800 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-800-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-800-normal.woff") format("woff");
}
/* Inter 900 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
  src:
    url("/fonts/inter/inter-latin-ext-900-normal.woff2") format("woff2"),
    url("/fonts/inter/inter-latin-ext-900-normal.woff") format("woff");
}

/* DM Serif Display */
@font-face {
  font-family: "DM Serif Display";
  src: url("/fonts/dm-serif-display/DMSerifDisplay-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-display: optional; /* https://web.dev/preload-optional-fonts */
}
