code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: Source Code Pro, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: 0.9rem;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.light code[class*="language-"],
pre[class*="language-"] {
  color: #393a34;
}
.dark code[class*="language-"],
pre[class*="language-"] {
  color: #b7bcbe;
}

pre > code[class*="language-"] {
  font-size: 1rem;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  border-radius: 6px;
}
.light pre[class*="language-"] {
  background: #fff;
}
.dark pre[class*="language-"] {
  background: #1e1e1e;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}
/* :not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
} */

.light .token.comment,
.light .token.block-comment,
.light .token.prolog,
.light .token.doctype,
.light .token.cdata {
  color: #999988;
}
.dark .token.comment,
.dark .token.block-comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #6a726d;
}

/* Line number */
.prose .line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  content: attr(line);
}
.dark .token.operator,
.dark .prose .token.punctuation,
.light .prose .line-number::before {
  color: #ccc;
}
.light .token.operator,
.light .token.punctuation,
.dark .prose .line-number::before {
  color: #393a34;
}

.token.namespace {
  opacity: 0.7;
}

.light .token.atrule,
.light .token.keyword,
.light .token.attr-name,
.light .language-autohotkey .token.selector {
  color: #00a4db;
}
.dark .token.atrule,
.dark .token.keyword,
.dark .token.attr-name,
.dark .language-autohotkey .token.selector {
  color: #e79fd7;
}

.light .token.entity,
.light .token.url,
.light .token.symbol,
.light .token.number,
.light .token.boolean,
.light .token.variable,
.light .token.constant,
.light .token.property,
.light .token.regex,
.light .token.inserted {
  color: #36acaa;
}
.dark .token.entity,
.dark .token.url,
.dark .token.symbol,
.dark .token.number,
.dark .token.boolean,
.dark .token.variable,
.dark .token.constant,
.dark .token.property,
.dark .token.regex,
.dark .token.inserted {
  color: #59a8ff;
}

.light .token.string,
.light .token.attr-value {
  color: #e3116c;
}
.dark .token.string,
.dark .token.attr-value {
  color: #fecc1b;
}
.light .token.class-name,
.light .token.function,
.light .token.deleted,
.light .language-autohotkey .token.tag {
  color: #9a050f;
}
.dark .token.class-name,
.dark .token.function,
.dark .token.deleted,
.dark .language-autohotkey .token.tag {
  color: #59a8ff;
}

.light .token.tag,
.light .token.selector,
.light .language-autohotkey .token.keyword {
  color: #00009f;
}
.dark .token.tag,
.dark .token.selector,
.dark .language-autohotkey .token.keyword {
  color: #f09eb7;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */
.prose .code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.prose .code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.prose .code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.prose .code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.prose .highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246); /* Set highlight accent border color */
}
